/*
	THEMES
*/
$primary-color: #0E0B16;
$secundary-color: #E7DFDD;
$tertiary-color: #E84C3D;
$platinium: #D3D3D3;
$gold: #BCA900;
$silver: #949494;
$bronze: #6B5400;

$color-2014: white;
$color-2015: #D0080F;
$color-2016: #393E46;
$color-2017: #CBF1F1;
$color-2018: white;
$color-2019: #2F2F9E;

/*
	ANIMATION
*/
$transition-timing-function: cubic-bezier(.52,.41,.81,.09);
$transition-duration: .1s;
$transition-delay: .1s;