/*
	THEMES
*/
$primary-color: #0E0B16;
$secundary-color: #E7DFDD;
$tertiary-color: #E84C3D;
$platinium: #D3D3D3;
$gold: #BCA900;
$silver: #949494;
$bronze: #6B5400;
$color-2014: white;

/*
	ANIMATION
*/
$transition-timing-function: cubic-bezier(.52,.41,.81,.09);
$transition-duration: .1s;
$transition-delay: .1s;