/*
	THEMES
*/
$primary-color: 	#0E0B16;
$secundary-color: #E7DFDD;
$tertiary-color: 	#E84C3D;
$platinium: 			#E5E4E2;
$gold: 						#DAA520;
$silver: 					#C0C0C0;
$bronze: 					#CD7F32;

$color-2014: white;
$color-2015: #D0080F;
$color-2016: #393E46;
$color-2017: #CBF1F1;
$color-2018: white;
$color-2019: #2F2F9E;

/*
	SHADES
*/
$tertiary-color-shade: #A2352A;

/*
	ANIMATION
*/
$transition-timing-function: cubic-bezier(.52,.41,.81,.09);
$transition-duration: 			.1s;
$transition-delay: 					.1s;

/*
	SPONSORS
*/
$full-height:					500px;
$rockstargames-color: #000;
$alphabet-color: 			#fff;
$apple-color: 				#000;
$rocketchat-color:		#030c1a;
$nintendo-color:			#e60012;
$spacex-color:				#0b0b0b;
$tencent-color: 			#000;
$oracle-color:	 			#403c38;
$dell-color:	 				#e7e7e7;
$chucrechurros-color:	#fff;
$vigilianerd-color:		#fff;
$alibaba-color:				#fff;